(
    selection: (
        ignore_back_faces: false,
        track_selection: true,
    ),
    graphics: (
        quality: (
            point_shadow_map_size: 1024,
            point_soft_shadows: true,
            point_shadows_enabled: true,
            point_shadows_distance: 15.0,
            point_shadow_map_precision: Full,
            spot_shadow_map_size: 1024,
            spot_soft_shadows: true,
            spot_shadows_enabled: true,
            spot_shadows_distance: 15.0,
            spot_shadow_map_precision: Full,
            csm_settings: (
                enabled: true,
                size: 2048,
                precision: Full,
                pcf: true,
            ),
            use_ssao: true,
            ssao_radius: 0.5,
            light_scatter_enabled: true,
            fxaa: true,
            use_parallax_mapping: false,
            use_bloom: true,
        ),
        z_near: 0.025,
        z_far: 128.0,
    ),
    general: (
        show_node_removal_dialog: true,
    ),
    debugging: (
        show_physics: true,
        show_bounds: true,
        show_tbn: false,
        show_terrains: false,
        show_light_bounds: true,
        show_camera_bounds: false,
        pictogram_size: 0.1,
        save_scene_in_text_form: false,
    ),
    move_mode_settings: (
        grid_snapping: false,
        x_snap_step: 0.05,
        y_snap_step: 0.05,
        z_snap_step: 0.05,
    ),
    rotate_mode_settings: (
        angle_snapping: false,
        x_snap_step: 2.5,
        y_snap_step: 2.5,
        z_snap_step: 2.5,
    ),
    model: (
        instantiation_scale: (1.0, 1.0, 1.0),
    ),
    camera: (
        speed: 10.0,
        invert_dragging: false,
        drag_speed: 0.01,
        zoom_speed: 1.0,
        camera_settings: {
            "\\\\?\\C:\\rust-engine\\StationIapetus\\data\\levels\\arrival_new.rgs": (
                position: (7.701183, -0.67120266, -2.8509164),
                yaw: 5.54,
                pitch: -0.23920307,
            ),
            "\\\\?\\C:\\rust-engine\\StationIapetus\\data\\models\\trolley\\trolley.rgs": (
                position: (-2.0477827, 0.20509622, -0.57364964),
                yaw: 1.4899993,
                pitch: 0.25079712,
            ),
            ".\\data\\levels\\arrival.rgs": (
                position: (-13.344022, 4.28357, -2.3446722),
                yaw: -4.9299974,
                pitch: 0.44079655,
            ),
            "data/models/zombie/zombie.rgs": (
                position: (-0.5175726, 0.44335553, 0.76907474),
                yaw: 2.5799992,
                pitch: 0.03999997,
            ),
            "\\\\?\\C:\\rust-engine\\StationIapetus\\data\\models\\starship_light\\starship_light.rgs": (
                position: (0.016807377, 1.0770406, -0.91968524),
                yaw: 0.13999908,
                pitch: 0.44999993,
            ),
            "data/models/agent/agent.rgs": (
                position: (0.0, 1.0, -3.0),
                yaw: 0.0,
                pitch: 0.0,
            ),
            "\\\\?\\C:\\rust-engine\\StationIapetus\\data\\models\\starship_parts\\starship_cross.rgs": (
                position: (-0.29600275, 4.376987, -5.1092234),
                yaw: 0.07999998,
                pitch: 0.76999986,
            ),
            "data/models/bed/bed.rgs": (
                position: (-0.024155322, 0.74291956, -2.033973),
                yaw: -0.010000002,
                pitch: 0.3,
            ),
            "\\\\?\\C:\\rust-engine\\StationIapetus\\data\\models\\cabinet\\cabinet.rgs": (
                position: (0.12956017, 0.5005803, 0.34268498),
                yaw: 3.449999,
                pitch: 0.36000013,
            ),
            "\\\\?\\C:\\rust-engine\\StationIapetus\\data\\models\\starship_parts\\starship_section.rgs": (
                position: (2.0863771, 2.3489954, -1.8331127),
                yaw: -0.78000045,
                pitch: 0.83000004,
            ),
            "data/models/starship_parts/starship_section.rgs": (
                position: (0.10797906, 0.0910238, 0.027716324),
                yaw: 0.020000495,
                pitch: 0.12999974,
            ),
            "data/levels/testbed.rgs": (
                position: (-1.9924551, 2.692386, 5.6607895),
                yaw: -3.2999961,
                pitch: 0.4207971,
            ),
            "data/models/cabinet/cabinet.rgs": (
                position: (-0.2771491, 1.3541746, 1.58837),
                yaw: 3.1499994,
                pitch: 0.43999997,
            ),
            "data/models/starship_door/starship_door_2.rgs": (
                position: (-0.63234043, 1.083226, -0.40277576),
                yaw: 0.6000001,
                pitch: 0.3500001,
            ),
            "data/levels/arrival_new.rgs": (
                position: (0.0, 0.0, 0.0),
                yaw: 5.6300993,
                pitch: 0.40079722,
            ),
        },
    ),
    navmesh: (
        draw_all: true,
        vertex_radius: 0.2,
    ),
    key_bindings: (
        move_forward: Some(KeyW),
        move_back: Some(KeyS),
        move_left: Some(KeyA),
        move_right: Some(KeyD),
        move_up: Some(KeyQ),
        move_down: Some(KeyE),
        speed_up: Some(ControlLeft),
        slow_down: Some(ShiftLeft),
        undo: Some(
            code: KeyZ,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        redo: Some(
            code: KeyY,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        enable_select_mode: Some(
            code: Digit1,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        enable_move_mode: Some(
            code: Digit2,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        enable_rotate_mode: Some(
            code: Digit3,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        enable_scale_mode: Some(
            code: Digit4,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        enable_navmesh_mode: Some(
            code: Digit5,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        enable_terrain_mode: Some(
            code: Digit6,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        save_scene: Some(
            code: KeyS,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        load_scene: Some(
            code: KeyL,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        copy_selection: Some(
            code: KeyC,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        paste: Some(
            code: KeyV,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        new_scene: Some(
            code: KeyN,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        close_scene: Some(
            code: KeyQ,
            modifiers: (
                alt: false,
                shift: false,
                control: true,
                system: false,
            ),
        ),
        remove_selection: Some(
            code: Delete,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
        focus: Some(
            code: KeyF,
            modifiers: (
                alt: false,
                shift: false,
                control: false,
                system: false,
            ),
        ),
    ),
    recent: (
        scenes: [
            "data/levels/arrival.rgs",
            "data/levels/arrival_new.rgs",
            "data/levels/testbed.rgs",
            "data/models/agent/agent.rgs",
            "data/models/barrel/barrel.rgs",
            "data/models/bed/bed.rgs",
            "data/models/cabinet/cabinet.rgs",
            "data/models/container/container.rgs",
            "data/models/kinetic_gun/kinetic_gun.rgs",
            "data/models/starship_door/starship_door_2.rgs",
            "data/models/starship_light/starship_light.rgs",
            "data/models/starship_parts/starship_cross.rgs",
            "data/models/starship_parts/starship_right_corner.rgs",
            "data/models/starship_parts/starship_section.rgs",
            "data/models/trolley/trolley.rgs",
            "data/models/turret/turret.rgs",
            "data/models/zombie/zombie.rgs",
        ],
    ),
    windows: (
        window_position: (-8.0, -8.0),
        window_size: (1920.0, 1017.0),
        layout: None,
    ),
)